{% extends "base.html" %}

{% block content %}

<div class="exam-wrapper">
    <div class="exam-card edit-card">
        <h2>Edit Question</h2>

        <form method="post">
            <label>Question</label>
            <input type="text" name="question" value="{{ q[1] }}" required>

            <label>Option A</label>
            <input type="text" name="option_a" value="{{ q[2] }}" required>

            <label>Option B</label>
            <input type="text" name="option_b" value="{{ q[3] }}" required>

            <label>Option C</label>
            <input type="text" name="option_c" value="{{ q[4] }}" required>

            <label>Option D</label>
            <input type="text" name="option_d" value="{{ q[5] }}" required>

            <label>Correct Option</label>
            <input type="text" name="correct_option" value="{{ q[6] }}" required>

            <button type="submit">Update Question</button>
        </form>
    </div>
</div>

{% endblock %}
