{% extends "base.html" %}

{% block content %}

<div class="exam-wrapper">

    <div class="exam-card">

        <h2>Online Examination</h2>

        <form method="POST">

            {% for q in questions %}
                <div class="question-block">
                    <p><b>{{ loop.index }}. {{ q[2] }}</b></p>

                    <label class="option-row">
                        <input type="radio" name="{{ q[0] }}" value="A" required>
                        <span>{{ q[3] }}</span>
                    </label>
                    <label class="option-row">
                        <input type="radio" name="{{ q[0] }}" value="B">
                        <span>{{ q[4] }}</span>
                    </label>
                    <label class="option-row">
                        <input type="radio" name="{{ q[0] }}" value="C">
                        <span>{{ q[5] }}</span>
                    </label>
                    <label class="option-row">
                        <input type="radio" name="{{ q[0] }}" value="D">
                        <span>{{ q[6] }}</span>
                    </label>
                </div>
            {% endfor %}

            <button type="submit">Submit Exam</button>

        </form>

    </div>

</div>

{% endblock %}
